<div class="flex flex-col">
  <div class="sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-left text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
          <tr>
            <th scope="col" class="px-6 py-4">#</th>
            <th scope="col" class="px-6 py-4">Quote</th>
            <th scope="col" class="px-6 py-4">Author</th>
            <th scope="col" class="px-6 py-4">Favorite</th>
          </tr>
          </thead>
          <tbody>
          <tr class="border-b dark:border-neutral-500" *ngFor="let quote of quotesList; let i = index">
            <td class="whitespace-nowrap px-6 py-4 font-medium">{{i}}</td>
            <td class="whitespace-nowrap px-6 py-4">{{ quote.getQuote() }}</td>
            <td class="whitespace-nowrap px-6 py-4">{{ quote.getAuthor() }}</td>
            <td class="whitespace-nowrap px-6 py-4">Favorite Action</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
