<div class="flex flex-col">
  <div class="sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-left text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
          <tr>
            <th scope="col" class="px-6 py-4">#</th>
            <th scope="col" class="px-6 py-4">Quote</th>
            <th scope="col" class="px-6 py-4">Author</th>
            <th scope="col" class="px-6 py-4">Favorite</th>
          </tr>
          </thead>
          <tbody>
          <tr class="border-b dark:border-neutral-500" *ngFor="let quote of quotesList; let i = index">
            <td class="whitespace-nowrap px-6 py-4 font-medium">{{i}}</td>
            <td class="whitespace-nowrap px-6 py-4">{{ quote.getQuote() }}</td>
            <td class="whitespace-nowrap px-6 py-4">{{ quote.getAuthor() }}</td>
            <td class="whitespace-nowrap px-6 py-4">
              <button (click)="toggleFavorite(quote)">
                <svg class="w-6 h-6 text-yellow-300" [ngClass]="!quote.isQuoteFavorite() ? 'text-gray-300 dark:text-gray-500': ''" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                  <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
